@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
  --blue: #02d6e8;
  --gray: #ebe8e8;
  --font: 
}

section h2 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 16px;
}

section h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 16px;
}

section p {
  font-size: 16px;
  font-weight: 400px;
  color: silver;
  margin-top: 16px;
  padding: 0 15px 0 15px;
  text-align: center;
}